{% extends "app.html" %}
{% block content %}
<div class="col-md-10 offset-md-1">
  <h2>Edit Post</h2>
    <form method="post">

      <div class="form-group">
        <label class="form-control-label" for="title">Title</label>
        <input name="subject" type="text" class="form-control" id="title" value="{{post.subject}}">
      </div>

      <div class="form-group">
        <label class="form-control-label" for="content">Content</label>
        <textarea name="content" class="form-control" id="content" rows="15">{{post.content}}</textarea>
      </div>

      <p class="text-danger">{{error}}</p>
      <a href="/blog/post/{{post.key().id()}}" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>

{% endblock %}
